# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage/

# production
/build/

# local environment files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors and operating systems
.DS_Store
*.swp
